.admin-mem-hding{
    background-color: black;
    color: white;
    padding: 7px;
}
.admin-mem-cont1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
}
.admin-mem-cont1 .mem-adm-srch-btn{
    background-color: #fed136;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 4px;
    color: black;
    height: 40px;
    cursor: pointer;
    font-weight: 600;
}
.admin-mem-cont1 .mem-adm-srch-btn:hover{
    background-color: #ffc800;
}
.admin-mem-cont1-subcont1{
    width: 100%;
    display: flex;
    justify-content: center;
    gap:10px;
}
.admin-mem-cont1-subcont1 input{
 width: 40%;
 padding: 3px 7px;
 border-bottom: 1px solid black;
 outline: none;
}
.admin-mem-cont1 input{
    font-size: 20px;
    margin-right: 10px;
    height: 40px;
}
#add-mem-admin-btn{
    width: 400px;
    background-color: #fed136;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 4px;
    color: black;
    height: 40px;
    cursor: pointer;
    font-weight: 600;
}
.admin-members-show-list{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    flex-wrap: wrap;
    overflow: scroll;
}
.admin-mem-pg-margin-left{
    margin-left: 112px;
}
.admin-mem-pg-row-head{
    font-weight: 600;
    color: black;
    padding-left: 7px;
}
.membersadmin-isLoading-getdata{
    width: 100vw;
    height: 50vh;
    /* position: absolute; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.memadmin-del-confirmation-btn{
    width: 100vw;
    height: 300px;
    position: fixed;
    top: 100px;
    background-color: black;
    opacity: 0.9;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 25px;
}
.memadmin-del-confirmation-btn .memadmin-conf-del-btn{
    background-color: rgb(255, 132, 0);
    color: black;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 22px;
    width: 100px;
}
.memadmin-del-conf{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.admin-mem-cont1 .admin-mem-cont1-subcont1 .mem-adm-filter-clicked-btn button{
    background-color: #ffbb00;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 4px;
    color: black;
    height: 40px;
    cursor: pointer;
    font-weight: 600;
    text-decoration: underline;
}
@media only screen and (max-width:1000px){
    .admin-mem-cont1 input{
        width: 70%;
    }
}
@media only screen and (max-width:600px){
    .admin-mem-cont1 input{
        width: 80%;
    }
    #add-mem-admin-btn{
        width: 60%;
    }
}